# Data Analysis | Data Cleaning | Data Vasualization | Feature Engineering

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/moviesdataset/movies.csv

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

#warnings
warnings.filterwarnings('ignore')

In [3]:
df= pd.read_csv('/kaggle/input/moviesdataset/movies.csv')

In [4]:
df.head()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.433,8.7,2763
1,1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,8.439,8.7,1223
2,2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,65.570,8.7,18637
3,3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,63.277,8.7,14052
4,4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,2020-11-19,26.691,8.7,773

In [5]:
df= df.drop(columns= 'Unnamed: 0')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8551 entries, 0 to 8550
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8551 non-null   int64
 1   title         8551 non-null   object
 2   overview      8531 non-null   object
 3   release_date  8551 non-null   object
 4   popularity    8551 non-null   float64
 5   vote_average  8551 non-null   float64
 6   vote_count    8551 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 467.8+ KB

In [7]:
df.describe()

                  id    popularity  vote_average    vote_count
count    8551.000000   8551.000000   8551.000000   8551.000000
mean   135552.118933     26.870217      6.578120   1496.749269
std    182298.697711    166.606317      0.825626   2464.793441
min         5.000000      0.600000      2.200000    200.000000
25%      9686.500000     10.049000      6.000000    320.000000
50%     22584.000000     13.217000      6.600000    593.000000
75%    261431.000000     20.771500      7.200000   1439.500000
max    793723.000000  11701.435000      8.700000  28740.000000

In [8]:
print(df.duplicated().sum())

0

In [9]:
# print(df.isna().sum()[df.isna().sum() > 0])
df[df.isna()]

      id title overview release_date  popularity  vote_average  vote_count
0    NaN   NaN      NaN          NaN         NaN           NaN         NaN
1    NaN   NaN      NaN          NaN         NaN           NaN         NaN
2    NaN   NaN      NaN          NaN         NaN           NaN         NaN
3    NaN   NaN      NaN          NaN         NaN           NaN         NaN
4    NaN   NaN      NaN          NaN         NaN           NaN         NaN
...   ..   ...      ...          ...         ...           ...         ...
8546 NaN   NaN      NaN          NaN         NaN           NaN         NaN
8547 NaN   NaN      NaN          NaN         NaN           NaN         NaN
8548 NaN   NaN      NaN          NaN         NaN           NaN         NaN
8549 NaN   NaN      NaN          NaN         NaN           NaN         NaN
8550 NaN   NaN      NaN          NaN         NaN           NaN         NaN

[8551 rows x 7 columns]

In [10]:
df= df.drop(columns= 'overview')

In [11]:
df.shape

(8551, 6)

# Convert DateTime

In [12]:
# Converting to datetime datatype
df['release_date'] = pd.to_datetime(df['release_date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8551 entries, 0 to 8550
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8551 non-null   int64
 1   title         8551 non-null   object
 2   release_date  8551 non-null   datetime64[ns]
 3   popularity    8551 non-null   float64
 4   vote_average  8551 non-null   float64
 5   vote_count    8551 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 401.0+ KB

In [14]:
#part by pary date

df['release_year']= df['release_date'].dt.year
df['release_month']= df['release_date'].dt.month
df['release_month_name']= df['release_date'].dt.month_name()
df['release_day']= df['release_date'].dt.day
df['release_day_name']= df['release_date'].dt.day_name()
df['release_dayofweek']= df['release_date'].dt.dayofweek

In [15]:
df.head()

,id,title,release_date,popularity,vote_average,vote_count,release_year,release_month,release_month_name,release_day,release_day_name,release_dayofweek
0,19404,Dilwale Dulhania Le Jayenge,1995-10-20,18.433,8.7,2763,1995,10,October,20,Friday,4
1,724089,Gabriel's Inferno Part II,2020-07-31,8.439,8.7,1223,2020,7,July,31,Friday,4
2,278,The Shawshank Redemption,1994-09-23,65.570,8.7,18637,1994,9,September,23,Friday,4
3,238,The Godfather,1972-03-14,63.277,8.7,14052,1972,3,March,14,Tuesday,1
4,761053,Gabriel's Inferno Part III,2020-11-19,26.691,8.7,773,2020,11,November,19,Thursday,3

In [16]:
df= df.drop(columns= ['release_date', 'release_month_name', 'release_day', 'release_day_name'])

In [17]:
df

,id,title,popularity,vote_average,vote_count,release_year,release_month,release_dayofweek
0,19404,Dilwale Dulhania Le Jayenge,18.433,8.7,2763,1995,10,4
1,724089,Gabriel's Inferno Part II,8.439,8.7,1223,2020,7,4
2,278,The Shawshank Redemption,65.570,8.7,18637,1994,9,4
3,238,The Godfather,63.277,8.7,14052,1972,3,1
4,761053,Gabriel's Inferno Part III,26.691,8.7,773,2020,11,3
...,...,...,...,...,...,...,...,...
8546,13805,Disaster Movie,14.630,3.2,714,2008,8,4
8547,5491,Battlefield Earth,10.647,3.0,543,2000,5,4
8548,14164,Dragonball Evolution,32.244,2.8,1447,2009,3,3
8549,11059,House of the Dead,14.502,2.8,238,2003,4,4
8550,40016,Birdemic: Shock and Terror,9.824,2.2,215,2010,2,5