<a href="https://colab.research.google.com/github/masum-auch/AI-Engineer/blob/main/Numpy%20%26%20Pandas/Pandas/04_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series Maths Methods | Pandas | part 3

In [17]:
import numpy as pd
import pandas as pd

In [20]:
subs = pd.read_csv('/content/subs.csv')

In [22]:
subs = subs.iloc[:, 0]

In [23]:
type(subs)

pandas.core.series.Series

In [24]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [25]:
vk= pd.read_csv('/content/kohli_ipl.csv')
vk= vk.iloc[:, 0]

In [26]:
vk

0        1
1        2
2        3
3        4
4        5
      ...
210    211
211    212
212    213
213    214
214    215
Name: match_no, Length: 215, dtype: int64

In [27]:
vk.count()

np.int64(215)

In [28]:
vk.mean()

np.float64(108.0)

In [39]:
vk.sort_values()

0        1
1        2
2        3
3        4
4        5
      ...
210    211
211    212
212    213
213    214
214    215
Name: match_no, Length: 215, dtype: int64

In [41]:
# sum -> product
subs.sum()

np.int64(49510)

In [45]:
movies= pd.read_csv('/content/bollywood.csv', )
movies= movies.iloc[:, 0]

In [47]:
# mean -> median -> mode -> std -> var
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())
print(vk.var())

108.0
0                     Andaaz
1             Gabbar Is Back
2    Tanu Weds Manu: Returns
Name: movie, dtype: object
62.67502303725269
3870.0

In [48]:
# min/max
subs.max()

396

In [49]:
# describe
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64