<a href="https://colab.research.google.com/github/masum-auch/AI-Engineer/blob/main/Numpy%20%26%20Pandas/Pandas/05_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Masum")

Masum

# Learn Pandas libraries | Series Maths Methods | Indexing

In [2]:
import numpy as pd

In [3]:
#import pandas libraries
import pandas as pd

In [12]:
#load data
subs= pd.read_csv('/content/subs.csv')
subs = subs.iloc[:, 0]

In [13]:
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [17]:
type(subs)

pandas.core.series.Series

In [14]:
vk= pd.read_csv('/content/kohli_ipl.csv')
vk= vk.iloc[:, 0]

In [15]:
vk.head()

0    1
1    2
2    3
3    4
4    5
Name: match_no, dtype: int64

In [18]:
type(vk)

pandas.core.series.Series

In [19]:
movie= pd.read_csv('/content/bollywood.csv')
movie= movie.iloc[:, 0]

In [20]:
type(movie)

pandas.core.series.Series

In [21]:
movie.head()

0                Uri: The Surgical Strike
1                           Battalion 609
2    The Accidental Prime Minister (film)
3                         Why Cheat India
4                         Evening Shadows
Name: movie, dtype: object

In [6]:
#count
print(vk.count())

match_no    215
runs        215
dtype: int64

In [7]:
# sum -> product
subs.sum()

Subscribers gained    49510
dtype: int64

In [24]:
# mean -> median -> mode -> std -> var
subs.mean()
print(vk.median())
print('\n')
print(movie.mode())
print('\n')
print(subs.std())
print(vk.var())

108.0


0                     Andaaz
1             Gabbar Is Back
2    Tanu Weds Manu: Returns
Name: movie, dtype: object


62.67502303725269
3870.0

In [25]:
# min/max
subs.max()

396

In [26]:
# describe
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

#

## Series Indexing

In [27]:
# integer indexing
x = pd.Series([12,13,14,35,46,57,58,79,9])
x

0    12
1    13
2    14
3    35
4    46
5    57
6    58
7    79
8     9
dtype: int64