# Learn with handleing Data and Time Variables

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
date= pd.read_csv('/kaggle/input/order-data/orders.csv')
time= pd.read_csv('/kaggle/input/time-data/messages.csv')

In [4]:
date.sample(10)

           date  product_id  city_id  orders
53   2019-12-04        5193       16       2
221  2018-08-15         300       14     967
821  2018-12-07        4996        5       6
842  2018-07-23        2190       14       3
859  2018-10-01        7331       17       1
585  2018-07-16        5738       13      39
701  2018-11-25        6806       26       1
496  2019-03-16        3562       23       1
38   2019-02-15        7025       14      33
763  2018-11-25        1467       22      90

In [5]:
date.isnull().sum()

date          0
product_id    0
city_id       0
orders        0
dtype: int64

In [6]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [7]:
time.head(10)

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше
5  2016-03-08 22:52:00  пар.32прок.дев.на авто по ночн.городу.Днепр.06...
6  2014-02-18 00:23:00           Семейная пара познакомится для отношений
7  2012-11-23 01:10:00                  ДЛЯ С.П СНАЧАЛО СМС 066.679.400.8
8  2014-12-23 01:20:00  Дедушки ау вы где? СНЕГУРОЧКИ СКУЧАЮТ. Здесь е...
9  2012-11-03 23:46:00                     ищу парня с авто.063 528 90 72

In [8]:
time.isnull().sum()

date    0
msg     0
dtype: int64

In [9]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

# warking with date

In [10]:
date['date']= pd.to_datetime(date['date'])

In [11]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [12]:
date['date_year']= date['date'].dt.year

date.sample(5)

          date  product_id  city_id  orders  date_year
707 2019-07-06        2247       16       9       2019
536 2019-04-24        1140       26       2       2019
756 2018-08-30        7011        9       6       2018
308 2018-07-27         664       24      15       2018
47  2018-12-11        3437       14       2       2018

In [13]:
date['date_month']= date['date'].dt.month
date.sample(5)

          date  product_id  city_id  orders  date_year  date_month
44  2018-08-03         803       23       9       2018           8
747 2018-08-06        2490        7       9       2018           8
382 2018-09-30        1935        2      48       2018           9
727 2019-10-20        1932       18       6       2019          10
328 2019-11-20        7467       23       2       2019          11

In [14]:
date['date_month_name']= date['date'].dt.month_name()
date.sample(5)

,date,product_id,city_id,orders,date_year,date_month,date_month_name
2,2018-10-23,1859,25,1,2018,10,October
160,2019-11-28,2627,16,1,2019,11,November
587,2019-10-30,6153,22,6,2019,10,October
999,2019-10-15,6371,7,22,2019,10,October
27,2019-01-24,4152,28,2,2019,1,January

In [15]:
date['date_inday']= date['date'].dt.day
date.sample(5)

,date,product_id,city_id,orders,date_year,date_month,date_month_name,date_inday
980,2018-08-03,3783,14,3,2018,8,August,3
448,2018-12-07,1933,21,17,2018,12,December,7
13,2018-08-24,3020,13,4,2018,8,August,24
436,2019-10-11,983,25,45,2019,10,October,11
816,2019-02-15,6634,25,5,2019,2,February,15

In [16]:
date['date_dow']= date['date'].dt.dayofweek
date.sample(5)

,date,product_id,city_id,orders,date_year,date_month,date_month_name,date_inday,date_dow
992,2019-11-01,4146,9,1,2019,11,November,1,4
806,2019-07-13,3576,25,85,2019,7,July,13,5
607,2019-05-27,3685,0,1,2019,5,May,27,0
73,2019-07-28,3913,13,19,2019,7,July,28,6
255,2018-10-30,4794,14,5,2018,10,October,30,1

In [17]:
date['date_inday_name']= date['date'].dt.day_name()
date.sample(5)

,date,product_id,city_id,orders,date_year,date_month,date_month_name,date_inday,date_dow,date_inday_name
874,2019-05-26,2430,23,17,2019,5,May,26,6,Sunday
334,2019-10-27,1130,14,48,2019,10,October,27,6,Sunday
748,2019-01-12,920,14,1,2019,1,January,12,5,Saturday
411,2019-12-11,3179,22,16,2019,12,December,11,2,Wednesday
107,2018-12-29,1225,13,60,2018,12,December,29,5,Saturday

In [18]:
date.drop(columns= ['product_id', 'city_id', 'orders'], inplace= True)

In [19]:
date.head(10)

,date,date_year,date_month,date_month_name,date_inday,date_dow,date_inday_name
0,2019-12-10,2019,12,December,10,1,Tuesday
1,2018-08-15,2018,8,August,15,2,Wednesday
2,2018-10-23,2018,10,October,23,1,Tuesday
3,2019-08-17,2019,8,August,17,5,Saturday
4,2019-01-06,2019,1,January,6,6,Sunday
5,2018-08-23,2018,8,August,23,3,Thursday
6,2018-11-21,2018,11,November,21,2,Wednesday
7,2019-03-27,2019,3,March,27,2,Wednesday
8,2019-06-29,2019,6,June,29,5,Saturday
9,2018-08-30,2018,8,August,30,3,Thursday

In [20]:
date['date_is_weekend']= np.where(date['date_inday_name'].isin(['Sunday', 'Saturday']), 1, 0)
date.head(10)

,date,date_year,date_month,date_month_name,date_inday,date_dow,date_inday_name,date_is_weekend
0,2019-12-10,2019,12,December,10,1,Tuesday,0
1,2018-08-15,2018,8,August,15,2,Wednesday,0
2,2018-10-23,2018,10,October,23,1,Tuesday,0
3,2019-08-17,2019,8,August,17,5,Saturday,1
4,2019-01-06,2019,1,January,6,6,Sunday,1
5,2018-08-23,2018,8,August,23,3,Thursday,0
6,2018-11-21,2018,11,November,21,2,Wednesday,0
7,2019-03-27,2019,3,March,27,2,Wednesday,0
8,2019-06-29,2019,6,June,29,5,Saturday,1
9,2018-08-30,2018,8,August,30,3,Thursday,0

# Extract week of the year

In [21]:
date['date_week']= date['date'].dt.isocalendar().week
date.head(4)

,date,date_year,date_month,date_month_name,date_inday,date_dow,date_inday_name,date_is_weekend,date_week
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43
3,2019-08-17,2019,8,August,17,5,Saturday,1,33

In [22]:
date['quarter']= date['date'].dt.quarter
date.head(5)

,date,date_year,date_month,date_month_name,date_inday,date_dow,date_inday_name,date_is_weekend,date_week,quarter
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50,4
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33,3
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43,4
3,2019-08-17,2019,8,August,17,5,Saturday,1,33,3
4,2019-01-06,2019,1,January,6,6,Sunday,1,1,1

In [23]:
date['semester']= np.where(date['quarter'].isin([1, 2]), 1, 2)
date.head(5)

,date,date_year,date_month,date_month_name,date_inday,date_dow,date_inday_name,date_is_weekend,date_week,quarter,semester
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50,4,2
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33,3,2
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43,4,2
3,2019-08-17,2019,8,August,17,5,Saturday,1,33,3,2
4,2019-01-06,2019,1,January,6,6,Sunday,1,1,1,1

# Extract Time Elapsed between dates

In [24]:
import datetime

today= datetime.datetime.today()

today

datetime.datetime(2025, 11, 21, 11, 1, 3, 409042)

In [25]:
today-date['date']

0     2173 days 11:01:03.409042
1     2655 days 11:01:03.409042
2     2586 days 11:01:03.409042
3     2288 days 11:01:03.409042
4     2511 days 11:01:03.409042
                 ...
995   2601 days 11:01:03.409042
996   2542 days 11:01:03.409042
997   2390 days 11:01:03.409042
998   2455 days 11:01:03.409042
999   2229 days 11:01:03.409042
Name: date, Length: 1000, dtype: timedelta64[ns]

In [26]:
(today-date['date']).dt.days

0      2173
1      2655
2      2586
3      2288
4      2511
       ...
995    2601
996    2542
997    2390
998    2455
999    2229
Name: date, Length: 1000, dtype: int64

In [27]:
np.round((today -date['date']) / np.timedelta64(30, 'D'))

0      72.0
1      89.0
2      86.0
3      76.0
4      84.0
       ...
995    87.0
996    85.0
997    80.0
998    82.0
999    74.0
Name: date, Length: 1000, dtype: float64

In [28]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [29]:
#converting to datetime datatype
time['date']= pd.to_datetime(time['date'])

In [30]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [31]:
time['hour']= time['date'].dt.hour
time['minit']= time['date'].dt.minute
time['sec']= time['date'].dt.second

In [32]:
time.head(5)

,date,msg,hour,minit,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

In [33]:
time['time'] = time['date'].dt.time

time.head()

,date,msg,hour,minit,sec,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

In [34]:
today - time['date']

0     4359 days 10:11:03.409042
1     4223 days 11:21:03.409042
2     4709 days 10:40:03.409042
3     4011 days 10:30:03.409042
4     4408 days 11:50:03.409042
                 ...
995   4998 days 10:11:03.409042
996   4319 days 11:47:03.409042
997   4784 days 11:24:03.409042
998   4900 days 11:27:03.409042
999   4172 days 11:36:03.409042
Name: date, Length: 1000, dtype: timedelta64[ns]

In [35]:
(today - time['date'])/np.timedelta64(1,'s')

0      3.766543e+08
1      3.649081e+08
2      4.068960e+08
3      3.465882e+08
4      3.808938e+08
           ...
995    4.318639e+08
996    3.732040e+08
997    4.133786e+08
998    4.234012e+08
999    3.605026e+08
Name: date, Length: 1000, dtype: float64

In [36]:
(today - time['date'])/np.timedelta64(1,'m')

0      6.277571e+06
1      6.081801e+06
2      6.781600e+06
3      5.776470e+06
4      6.348230e+06
           ...
995    7.197731e+06
996    6.220067e+06
997    6.889644e+06
998    7.056687e+06
999    6.008376e+06
Name: date, Length: 1000, dtype: float64

In [37]:
(today - time['date'])/np.timedelta64(1,'h')

0      104626.184280
1      101363.350947
2      113026.667614
3       96274.500947
4      105803.834280
           ...
995    119962.184280
996    103667.784280
997    114827.400947
998    117611.450947
999    100139.600947
Name: date, Length: 1000, dtype: float64