# Data Analysis | Handle Mixed Data With Contact | Data Cleaning

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/01-data-cleaning/treatments_cut.csv
/kaggle/input/01-data-cleaning/patients.csv
/kaggle/input/01-data-cleaning/treatments.csv
/kaggle/input/01-data-cleaning/adverse_reactions.csv

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
#load with titanic datasets
treatments= pd.read_csv('/kaggle/input/01-data-cleaning/treatments.csv')

In [4]:
treatments_cut= pd.read_csv('/kaggle/input/01-data-cleaning/treatments_cut.csv')
treatments_cut.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,jožka,resanovič,22u - 30u,-,7.56,7.22,0.34
1,inunnguaq,heilmann,57u - 67u,-,7.85,7.45,NaN
2,alwin,svensson,36u - 39u,-,7.78,7.34,NaN
3,thể,lương,-,61u - 64u,7.64,7.22,0.92
4,amanda,ribeiro,36u - 44u,-,7.85,7.47,0.38

In [5]:
#copy original datasets

treatments_df= treatments.copy()
treatments_cut_df= treatments_cut.copy()

In [6]:


all_files= pd.concat([treatments_df, treatments_cut_df])

all_files.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [7]:
all_files.shape

(350, 7)

In [8]:
all_files.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  213 non-null    float64
dtypes: float64(3), object(4)
memory usage: 21.9+ KB

In [9]:
all_files.describe()

       hba1c_start   hba1c_end  hba1c_change
count   350.000000  350.000000    213.000000
mean      7.956343    7.560057      0.540657
std       0.545328    0.545456      0.277417
min       7.500000    7.010000      0.200000
25%       7.650000    7.270000      0.340000
50%       7.785000    7.400000      0.380000
75%       7.950000    7.557500      0.920000
max       9.950000    9.580000      0.990000

In [10]:
#finding missing values

all_files.isna().sum()[all_files.isna().sum() > 0]

hba1c_change    137
dtype: int64

In [11]:
all_files.drop(columns= 'hba1c_change', inplace= True)

In [12]:
#handling missing values
all_files['hba1c_change']= all_files['hba1c_start'] - all_files['hba1c_end']

In [13]:
all_files.dtypes

given_name       object
surname          object
auralin          object
novodra          object
hba1c_start     float64
hba1c_end       float64
hba1c_change    float64
dtype: object

In [14]:
#
all_files= all_files.melt(id_vars= ['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'], 
                          var_name= 'type', value_name= 'dosage_range')

In [15]:
all_files['dosage_range']

0      41u - 48u
1              -
2              -
3      33u - 36u
4              -
         ...
695            -
696    28u - 26u
697            -
698    42u - 44u
699            -
Name: dosage_range, Length: 700, dtype: object

In [16]:
all_files.sample(10)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,dosage_range
248,brianna,lansell,9.48,9.06,0.42,auralin,39u - 47u
129,kaodilinakachukwu,nnonso,7.76,7.40,0.36,auralin,63u - 68u
381,bao,she,9.09,8.62,0.47,novodra,48u - 45u
221,torben,mortensen,7.80,7.40,0.40,auralin,-
199,novalie,berg,7.85,7.49,0.36,auralin,-
219,diệt,bùi,9.11,8.76,0.35,auralin,-
402,mỹ,quynh,7.61,7.16,0.45,novodra,-
549,novalie,berg,7.85,7.49,0.36,novodra,32u - 31u
485,rut,halldórsdóttir,9.01,8.63,0.38,novodra,-
629,samúel,guðbrandsson,8.00,7.64,0.36,novodra,-

In [17]:
all_files= all_files[all_files['dosage_range'] != '-']

all_files['dosage_start']= all_files['dosage_range'].str.split('-').str.get(0)
all_files['dosage_end']= all_files['dosage_range'].str.split('-').str.get(1)

In [18]:
all_files.drop(columns= 'dosage_range', inplace= True)

In [19]:
all_files['dosage_start']= all_files['dosage_start'].str.replace('u', '')
all_files['dosage_end']= all_files['dosage_end'].str.replace('u', '')

In [20]:
all_files.sample(5)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,dosage_start,dosage_end
347,bernd,schneider,7.74,7.44,0.30,auralin,48,56
84,furuta,osman,7.52,7.18,0.34,auralin,30,41
275,albina,zetticci,7.93,7.73,0.20,auralin,45,51
120,zikoranaudodimma,chinedum,8.19,7.83,0.36,auralin,41,51
544,eufrosina,schiavone,9.00,8.56,0.44,novodra,23,23

In [21]:
patients= pd.read_csv('/kaggle/input/01-data-cleaning/patients.csv')

patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [22]:
patients['contact']

0                 951-719-9170ZoeWellish@superrito.com
1                PamelaSHill@cuvox.de+1 (217) 569-3204
2                     402-363-6804JaeMDebord@gustr.com
3           PhanBaLiem@jourrapide.com+1 (732) 636-8246
4                      334-515-7487TimNeudorf@cuvox.de
                            ...
498        207-477-0579MustafaLindstrom@jourrapide.com
499                 928-284-4492RumanBisliev@gustr.com
500              816-223-6007JinkedeKeizer@teleworm.us
501    ChidaluOnyekaozulu@jourrapide.com1 360 443 2060
502               PatrickGersten@rhyta.com402-848-4923
Name: contact, Length: 503, dtype: object

In [23]:
patients_df= patients.copy()

In [24]:
patients_df['phone'] = (patients_df['contact'].astype(str)
    .str.extract(r'(\+?\d[\d\s\-\(\)]{8,}\d)')[0]
    .str.replace(r'\D', '', regex=True)
)

patients_df['email'] = (patients_df['contact'].astype(str)
    .str.replace(r'\+?\d[\d\s\-\(\)]{8,}\d', '', regex=True)
    .str.extract(r'([A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,})')[0]
)

In [25]:
patients_df.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,phone,email
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,9517199170,ZoeWellish@superrito.com
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,12175693204,PamelaSHill@cuvox.de
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,4023636804,JaeMDebord@gustr.com
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,17326368246,PhanBaLiem@jourrapide.com
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,3345157487,TimNeudorf@cuvox.de