# Data Analysis | Handle Mixed Data With Ticket And Cabin| Data Visualization

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/titanicdata.csv
/kaggle/input/mixed-handling-data/titanic.csv

In [2]:
import seaborn as sns
import matplotlib.pyplot as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
#load titanic dataset
df= pd.read_csv('/kaggle/input/titanic/titanicdata.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
df.isna().sum()[df.isna().sum() > 0]

Age         177
Cabin       687
Embarked      2
dtype: int64

In [8]:
#fill Age, Embarked missing Data

df['Age']= df['Age'].fillna(df['Age'].median(), inplace= True)
df['Embarked']= df['Embarked'].fillna(df['Embarked'].mode()[0], inplace= True)

In [9]:
#Handle mixed Data | Cabin| the mixed columns part 2 cabin numeric and categorical

df['Cabin_Num']= df['Cabin'].str.extract('(\d+)')
df['Cabin_Cate']= df['Cabin'].str[0]

#the original Cabin columns no Unnecessary, so drop the columns

df.drop(columns= 'Cabin', inplace= True)

In [10]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Cabin_Num,Cabin_Cate
94,95,0,3,"Coxon, Mr. Daniel",male,None,0,0,364500,7.2500,None,NaN,NaN
588,589,0,3,"Gilinski, Mr. Eliezer",male,None,0,0,14973,8.0500,None,NaN,NaN
706,707,1,2,"Kelly, Mrs. Florence ""Fannie""",female,None,0,0,223596,13.5000,None,NaN,NaN
69,70,0,3,"Kink, Mr. Vincenz",male,None,2,0,315151,8.6625,None,NaN,NaN
860,861,0,3,"Hansen, Mr. Claus Peter",male,None,2,0,350026,14.1083,None,NaN,NaN

In [11]:
df.isna().sum()[df.isna().sum() > 0]

Age           891
Embarked      891
Cabin_Num     691
Cabin_Cate    687
dtype: int64

In [12]:
# after creating columns Cabin_Num and Cabin_Cate then i see missing value. So handle the missing values

df['Cabin_Num']= df['Cabin_Num'].fillna(-1)
df['Cabin_Cate']= df['Cabin_Cate'].fillna('Missing')

In [13]:
#mixed data against ticket

# df['Ticket'].unique()

#create numeric columns
df['ticket_num']= df['Ticket'].apply(lambda s: s.split()[-1])
df['ticket_num']= pd.to_numeric(df['ticket_num'], errors= 'coerce', downcast= 'integer')

#create the categorical columns
df['ticket_cate']= df['Ticket'].apply(lambda s: s.split()[0])
df['ticket_cate']= np.where(df['ticket_cate'].str.isdigit(), np.nan, df['ticket_cate'])

#the remove original columns

df.drop(columns= 'Ticket', inplace= True)

# after creating column ticket_num, I see a missing value. So handle the missing values

df['ticket_cate']= df['ticket_cate'].fillna('Missing')

In [14]:
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Cabin_Num,Cabin_Cate,ticket_num,ticket_cate
478,479,0,3,"Karlsson, Mr. Nils August",male,None,0,0,7.5208,None,-1,Missing,350060.0,Missing
623,624,0,3,"Hansen, Mr. Henry Damsgaard",male,None,0,0,7.8542,None,-1,Missing,350029.0,Missing
594,595,0,2,"Chapman, Mr. John Henry",male,None,1,0,26.0000,None,-1,Missing,29037.0,SC/AH
291,292,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,None,1,0,91.0792,None,49,B,11967.0,Missing
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,None,1,0,53.1000,None,123,C,113803.0,Missing
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,None,1,1,52.5542,None,35,D,11751.0,Missing
11,12,1,1,"Bonnell, Miss. Elizabeth",female,None,0,0,26.5500,None,103,C,113783.0,Missing
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,None,0,0,10.5000,None,-1,Missing,33111.0,C.A.
434,435,0,1,"Silvey, Mr. William Baird",male,None,1,0,55.9000,None,44,E,13507.0,Missing
696,697,0,3,"Kelly, Mr. James",male,None,0,0,8.0500,None,-1,Missing,363592.0,Missing

In [15]:
# again mixed data

df['ticket_cate'].unique()

array(['A/5', 'PC', 'STON/O2.', 'Missing', 'PP', 'A/5.', 'C.A.', 'A./5.',
       'SC/Paris', 'S.C./A.4.', 'A/4.', 'CA', 'S.P.', 'S.O.C.', 'SO/C',
       'W./C.', 'SOTON/OQ', 'W.E.P.', 'STON/O', 'A4.', 'C', 'SOTON/O.Q.',
       'SC/PARIS', 'S.O.P.', 'A.5.', 'Fa', 'CA.', 'LINE', 'F.C.C.', 'W/C',
       'SW/PP', 'SCO/W', 'P/PP', 'SC', 'SC/AH', 'A/S', 'A/4', 'WE/P',
       'S.W./PP', 'S.O./P.P.', 'F.C.', 'SOTON/O2', 'S.C./PARIS',
       'C.A./SOTON'], dtype=object)

In [16]:
# # ensure string + uppercase
# df['ticket_cate'] = (df['ticket_cate'].astype(str).str.upper().str.strip())

# # keep slash/dot as separator, remove extra spaces only
# df['ticket_cate'] = df['ticket_cate'].str.replace(r'\s+', '', regex=True)

# # extract ONLY alphabet prefix (number drop)
# df['ticket_prefix'] = df['ticket_cate'].str.extract(r'^([A-Z]+)')


df['ticket_prefix'] = df['ticket_cate'].str.extract(r'^([A-Z./]+)')
df['ticket_prefix'] = df['ticket_prefix'].fillna('NUM')

In [17]:
freq = df['ticket_prefix'].value_counts()
rare = freq[freq < 10].index

df['ticket_prefix'] = df['ticket_prefix'].replace(rare, 'Other')

In [18]:
df['ticket_prefix'].value_counts()

ticket_prefix
M         661
Other     102
PC         60
C.A.       27
A/         23
STON/O     18
Name: count, dtype: int64