In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/titanicdata.csv

In [2]:
df= pd.read_csv('/kaggle/input/titanic/titanicdata.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
    # Extract titles from names
    df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
    df['Title'] = df['Title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 
                                       'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    df['Title'] = df['Title'].replace('Mlle', 'Miss')
    df['Title'] = df['Title'].replace('Ms', 'Miss')
    df['Title'] = df['Title'].replace('Mme', 'Mrs')

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [7]:
df= df.drop(columns= ['Name','PassengerId'])

In [8]:
df['cabin_num']= df['Cabin'].str.extract('(\d+)')
df['cabin_cat']= df['Cabin'].str[0]

In [9]:
df['cabin_num']= df['cabin_num'].fillna(-1)
df['cabin_cat']= df['cabin_cat'].fillna('Missing')

In [10]:
df= df.drop(columns= 'Cabin')

In [11]:
df['Family'] = df['Parch'] + df['SibSp']

In [12]:
df= df.drop(columns= ['Parch', 'SibSp'])

In [13]:
df= df.drop(columns= 'Ticket')

In [14]:
df = pd.get_dummies(df, columns=['Sex', 'Title', 'cabin_cat'], drop_first=True)

In [15]:
df.sample(5)

,Survived,Pclass,Age,Fare,Embarked,cabin_num,Family,Sex_male,Title_Miss,Title_Mr,Title_Mrs,Title_Rare,cabin_cat_B,cabin_cat_C,cabin_cat_D,cabin_cat_E,cabin_cat_F,cabin_cat_G,cabin_cat_Missing,cabin_cat_T
114,0,3,17.0,14.4583,C,-1,0,False,True,False,False,False,False,False,False,False,False,False,True,False
454,0,3,NaN,8.0500,S,-1,0,True,False,True,False,False,False,False,False,False,False,False,True,False
228,0,2,18.0,13.0000,S,-1,0,True,False,True,False,False,False,False,False,False,False,False,True,False
345,1,2,24.0,13.0000,S,33,0,False,True,False,False,False,False,False,False,False,True,False,False,False
740,1,1,NaN,30.0000,S,45,0,True,False,True,False,False,False,False,True,False,False,False,False,False