<a href="https://colab.research.google.com/github/masum-auch/AI-Engineer/blob/main/Numpy%20%26%20Pandas/Numpy/07_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Numpy | Part 2

## Advanced Indexing

In [2]:
#import numpy lab
import numpy as np

In [4]:
# Boolean Indexing
a = np.random.randint(1,100,24).reshape(6,4)
a

array([[14, 62, 51, 54],
       [92, 97, 23, 97],
       [59, 15,  2, 65],
       [97, 36, 80, 55],
       [91, 90, 16, 95],
       [47, 28, 21, 47]])

In [5]:
# find all numbers greater than 50
a[a > 50]

array([62, 51, 54, 92, 97, 97, 59, 65, 97, 80, 55, 91, 90, 95])

In [6]:
# find out even numbers
a[a % 2 == 0]

array([14, 62, 54, 92,  2, 36, 80, 90, 16, 28])

In [7]:
# find all numbers greater than 50 and are even

a[(a > 50) & (a % 2 == 0)]

array([62, 54, 92, 80, 90])

In [8]:
# find all numbers not divisible by 7
a[~(a % 7 == 0)]

array([62, 51, 54, 92, 97, 23, 97, 59, 15,  2, 65, 97, 36, 80, 55, 90, 16,
       95, 47, 47])